<div *ngIf="loginVisible"
 class="login">
 <p>Login</p>
 <label for="login">Login</label>
 <input type="text"
  name="login"
  id="login">
 <label for="password">Password</label>
 <input type="text"
  name="password"
  id="password">
 <button>Login</button>
</div>
<div *ngIf="!loginVisible"
 class="create-account">
 <p>Create Account</p>
 <label for="loginCA">Login</label>
 <input type="text"
  name="loginCA"
  id="loginCA">
 <label for="passwordCA">Password</label>
 <input type="text"
  name="passwordCA"
  id="passwordCA">
 <label for="rep-password">Repeat Password</label>
 <input type="text"
  name="rep-password"
  id="rep-password">
 <button>Create Account</button>
</div>
<button class="close"
 (click)="close()">X</button>